.benefit {
    text-align: center;

    &__title {
        @include phones {
            margin-bottom: 0;
            font-size: rem(24px);
        }
    }

    @include phones {
        display: flex;
        text-align: left;
        align-items: center;
    }

    &__img-wrapper {
        display: inline-block;
        width: rem(126px);
        height: rem(126px);
        position: relative;
        background: $grey;
        border-radius: 50%;
        overflow: hidden;
    }

    &__icon {
        width: rem(68px);
        height: rem(68px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: color .5s;

        &:hover {
            color: $red;
        }
    }

    &__desk p {
        color: #666666;
        font-weight: normal;
    }

    &__text {
        @include phones {
            padding: 0 5%;
        }
    }
}