.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
  color: black;
}

@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}

.fixed-menu__item--active .fixed-menu__link {
  border: 0.0555555556rem solid;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}

.fixed-menu__link:hover {
  border: 0.0555555556rem solid;
}

.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fixed-menu--shadowed {
  color: #fff;
}

.fixed-menu__link--shadowed:before {
  background: #fff;
}