.hamburger {
    width: 24px;
    height: 26px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
    }


    &__plank {
        display: block;
        background: #292929;
        ;
        height: 4px;
        border-radius: 10px;
    }
}