.menu {

    margin: 0 30px;
    padding-top: 5px;

    @include tablets {
        display: none;
    }

    &__link {
        white-space: nowrap;
        transition: color .5s;

        &:hover {
            color: $red;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        .menu__item {
            margin-right: rem(15px);
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}