.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.error__modal {
    .modal__content {
      color: red;
    }
  }

  &.fancybox__content {
    padding: 0 !important;
  }

  .fancybox-button {
    display: none;
  }
}

.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}

.input-error {
  border-color: red;
}