.close {
  background: url('../img/svg/close.svg') no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -35px;
  right: -35px;
}


.modal-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: grey;

  &__container {
    position: relative;
    font-size: 32px;
    color: #fff;
    text-align: center;

  }

  &__list {
    display: flex;
    flex-direction: column;
  }

}